# Compiled source #
#############################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Project file #
#############################
*.sublime-project
*.sublime-workspace

# Build and Release Folders #
#############################
[Bb]in/
[Oo]bj/
